.career-section{
  text-align: center;
  font-size: 25px;
}
.career-blocks{
  background-color: var(--secondary-color);
  text-align: left;
  padding: 30px;
  margin: 40px 0;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.career-button{
  display: inline-flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.career-blocks p{
  font-size: 16px;
  color: var(--secondary-text);
}

/*--------------------career-details-file---------------------*/
.career-details{
  /* padding: 0 40px; */
}
.career-detail-block{
  text-align: left;
  margin: 40px 0;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
.detail-blocks{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-blocks p{
  color: var(--secondary-text);
}
.career-details-button{
  margin: 50px 0;
}
/*--------------------career-apply-file----------------*/
.file-upload-field label{
  color: var(--secondary-text);
}
.file-upload-field input[type="file"] {
  position: absolute; /* Take it out of the normal flow */
  width: 1px; /* Minimize its size */
  height: 1px;
  margin: -1px; /* Remove margin */
  padding: 0; /* Remove padding */
  border: 0; /* Remove border */
  overflow: hidden; /* Hide overflow */
  clip: rect(0, 0, 0, 0); /* Clip out of view */
  clip-path: inset(50%); /* Hide it visually */
  white-space: nowrap; /* Prevent text wrapping */
  background: transparent; /* Transparent background */
}

.file-upload-field {
  background-color: var(--text-field-bg-color);
  color: var(--input-text-color);
  font-size: var(--font-text-size);
  padding: 10px;
  border-radius: var(--border-radius-box);
  border: var(--border-size) solid var(--input-text-color);
  cursor: pointer;
}

.file-upload-field:hover {
  background-color: #ffffff36;
  color: black;
  cursor: pointer;
}
.camera-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

}
.camera-icon img{
  height: 30px;
}
.radio{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.radio-group {
  display: flex;
  flex-wrap: wrap; /* Allows the items to wrap to the next line if necessary */
  gap: 200px; /* Space between the radio buttons */
}

.custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.custom-radio input[type="radio"] {
  display: none;
}

.custom-radio .radio-btn {
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.custom-radio input[type="radio"]:checked + .radio-btn {
  background-color: var(--green-text); 
  border-color: var(--dark-green-text);
}

.custom-radio .radio-btn::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
  opacity: 0;
}

.custom-radio input[type="radio"]:checked + .radio-btn::after {
  opacity: 1;
}

/* @media(max-width: 900px) {
  .radio-group{
    gap: 20px;
  }
  
}

@media(max-width: 479px) {
  .radio-group{
    gap: 20px;
  }
  .camera-icon img{
    height: 20px;
  }
  .file-upload-field {
    font-size: 11px;
  }
  
} */

.multi-select {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  width: 100%;
  user-select: none;
}
.multi-select .multi-select-header {
  border: 1px solid var(--input-text-color);
  padding: 7px 30px 7px 12px;
  overflow: hidden;
  gap: 7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: 45px;
}
/* .multi-select .multi-select-header::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  height: 12px;
  width: 12px;
} */
.multi-select .multi-select-header.multi-select-header-active {
  border-color: #c1c9d0;
}
.multi-select .multi-select-header.multi-select-header-active::after {
  transform: translateY(-50%) rotate(180deg);
}
.multi-select
  .multi-select-header.multi-select-header-active
  + .multi-select-options {
  display: flex;
}
.multi-select .multi-select-header .multi-select-header-placeholder {
  color: var(--input-text-color);
  font-size: var(--font-text-size);
}

/*--------------------selected-skill-boxes---------------------*/
.multi-select .multi-select-header .multi-select-header-option {
  display: inline-flex;
  align-items: center;
  background-color: var(--border-color);
  font-size: 14px;
  padding: 3px 8px;
  border-radius: 5px;
  color: var(--text-color);
}
.multi-select .multi-select-header .multi-select-header-max {
  font-size: 14px;
  color: var(--green-text);
}
.multi-select .multi-select-options {
  display: none;
  box-sizing: border-box;
  flex-flow: wrap;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  margin-top: 5px;
  padding: 5px;
  color: var(--border-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.multi-select .multi-select-options::-webkit-scrollbar {
  width: 5px;
}
.multi-select .multi-select-options::-webkit-scrollbar-track {
  background: #f0f1f3;
}
.multi-select .multi-select-options::-webkit-scrollbar-thumb {
  background: #cdcfd1;
}
.multi-select .multi-select-options::-webkit-scrollbar-thumb:hover {
  background: #b2b6b9;
}
.multi-select .multi-select-options .multi-select-option,
.multi-select .multi-select-options .multi-select-all {
  padding: 4px 12px;
  margin: 2px;
  height: 42px;
}
.multi-select
  .multi-select-options
  .multi-select-option
  .multi-select-option-radio,
.multi-select
  .multi-select-options
  .multi-select-all
  .multi-select-option-radio {
  margin-right: 14px;
  height: 16px;
  width: 16px;
  border: 1px solid #ced4da;
  border-radius: 50px;
}
.multi-select
  .multi-select-options
  .multi-select-option
  .multi-select-option-text,
.multi-select
  .multi-select-options
  .multi-select-all
  .multi-select-option-text {
  box-sizing: border-box;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-color);
  font-size: 16px;
  line-height: 20px;
}
.multi-select
  .multi-select-options
  .multi-select-option.multi-select-selected
  .multi-select-option-radio,
.multi-select
  .multi-select-options
  .multi-select-all.multi-select-selected
  .multi-select-option-radio {
  border-color: var(--green-text);
  background-color: var(--secondary-color);
}
.multi-select
  .multi-select-options
  .multi-select-option.multi-select-selected
  .multi-select-option-radio::after,
.multi-select
  .multi-select-options
  .multi-select-all.multi-select-selected
  .multi-select-option-radio::after {
  content: "";
  display: block;
  width: 3px;
  height: 7px;
  margin: 0.12em 0 0 0.27em;
  border: solid #fff;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}
.multi-select
  .multi-select-options
  .multi-select-option.multi-select-selected
  .multi-select-option-text,
.multi-select
  .multi-select-options
  .multi-select-all.multi-select-selected
  .multi-select-option-text {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 700;
}
.multi-select .multi-select-options .multi-select-all {
  border-bottom: 1px solid #f1f3f5;
  border-radius: 0;
}
.multi-select .multi-select-options .multi-select-search {
  padding: 7px 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin: 10px 10px 5px 10px;
  width: 100%;
  outline: none;
  font-size: 16px;
}
.multi-select .multi-select-options .multi-select-search::placeholder {
  color: var(--border-color);
  font-size: 14px;
}
.multi-select .multi-select-header,
.multi-select .multi-select-option,
.multi-select .multi-select-all {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  color: #212529;
}

/* Style for multi-select options on hover */
.multi-select .multi-select-options .multi-select-option:hover,
.multi-select .multi-select-options .multi-select-option:active,
.multi-select .multi-select-options .multi-select-all:hover,
.multi-select .multi-select-options .multi-select-all:active {
  background-color: var(--dark-green-text);
  color: black;
}

/* Style for selected options */
.multi-select .multi-select-options .multi-select-option.multi-select-selected,
.multi-select .multi-select-options .multi-select-all.multi-select-selected {
  background-color: var(--dark-green-text);
  color: var(--secondary-color);
}

/*---------------radio-btn-----------------------*/
.multi-select .multi-select-options .multi-select-option.multi-select-selected .multi-select-option-radio,
.multi-select .multi-select-options .multi-select-all.multi-select-selected .multi-select-option-radio {
  border-color: var(--secondary-color); 
  background-color: var(--secondary-color);
  border: 1px solid 50px;
}
.multi-select .multi-select-options .multi-select-option.multi-select-selected .multi-select-option-radio::after,
.multi-select .multi-select-options .multi-select-all.multi-select-selected .multi-select-option-radio::after {
  border-color: var(--text-color); 
}
