.contact-form{
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.4rem;
    column-gap: 1.4rem;
    font-size: 0.8rem;
    font-family: 'Arial', sans-serif;
    font-weight: lighter;
    color: #c5c5c5;
}

.grid-span{
    grid-column: span 2;
}

.field{
    display: flex;
    flex-direction: column;
}

.field select, input, textarea{
    background-color: transparent;
    color: #c5c5c5;
    font-size: 0.8rem;
    padding: 15px;
    border-radius: 4px;
    border: 2px solid #c5c5c5;
}

.field label{
    margin: 10px 2px;
}

.success-message {
    display: none;
    background-color: #011706;
    color: #05f83e;
    padding: 10px;
    margin: 20px;
    border: 1px solid #c3e6cb;
    border-radius: 3px;
}

.input[type=select]{
    padding: 20px 0;
}

.contact-btn{
    background-color: #95df00;
    padding: 10px 30px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    max-width: max-content;
}

.agree-terms a{
    text-decoration: none;
    color: #95df00;
}
.agree-terms a:hover{
    text-decoration: underline;
}