:root{
    --input-text-color: #D9D9D9;
    --border-size: 1.5px;
    --font-size-heading: 54px;
    --font-size-text: 0.8rem;
    --bold: bold;
    --lighter: 400;
    --dark-bg: #1C1C1C;
    --border-radius-contact: 5px;
}
.heading-container{
    display: grid;
    grid-template-rows: auto auto;
}
.ContactUs-heading{
    padding: 5% 10%;
    background-color: var(--dark-bg);
}
.ContactUs-heading h1{
    font-size: var(--font-size-heading);
    font-weight: var(--bold);
}
.ContactUs-heading h4{
    font-size: 16px;
    font-weight: var(--lighter);
}


.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-container{
    width: 75%;
}

.contact-form{
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.4rem;
    column-gap: 1.4rem;
    font-size: var(--font-size-text);
    font-family: 'Arial', sans-serif;
    font-weight: var(--lighter);
    color: var(--text-color);
}

.grid-span{
    grid-column: span 2;
}

.field{
    display: flex;
    flex-direction: column;
}

.field label{
    margin: 10px 2px;
}

.field select, 
.field input, 
.field textarea{
    background-color: transparent;
    color: var(--input-text-color);
    font-size: var(--font-size-text);
    padding: 10px;
    border-radius: var(--border-radius-contact);
    border: var(--border-size) solid var(--input-text-color);
}

/*--------------------------------------------Edit this field-----------------------------------*/
.help-form option{
    background-color: var(--input-text-color);
    color: var(--dark-bg);
}
.help-form option:hover{
    background-color: var(--green-text);
    color: var(--text-color);
}
/*------------------------------------------------------------------------------------------------*/
.agree-terms a{
    text-decoration: none;
    color: var(--green-text);
}
.agree-terms a:hover{
    text-decoration: underline;
}

.agree-newsletter,
.agree-terms
{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.agree-newsletter label,
.agree-terms label{
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
}
.agree-newsletter input[type="checkbox"],
.agree-terms input[type="checkbox"]{
    cursor: pointer;
    opacity: 0;
    position: absolute;
}
.agree-newsletter label::before,
.agree-terms label::before{
    content: "";
    width: 1em;
    height: 1em;
    border-radius: var(--border-radius-contact);
    margin-right: 0.5em;
    border: var(--border-size) solid var(--input-text-color);
}
.agree-terms label:hover::before,
.agree-terms input[type="checkbox"]:hover + label::before,
.agree-newsletter label:hover::before,
.agree-newsletter input[type="checkbox"]:hover + label::before{
    background-color: var(--input-text-color);
}
.agree-newsletter input[type="checkbox"]:focus + label::before,
.agree-terms input[type="checkbox"]:focus + label::before{
    box-shadow: 0 0 20px var(--text-color);
}
.agree-newsletter input[type="checkbox"]:checked + label::before,
.agree-terms input[type="checkbox"]:checked + label::before{
    content: "\002714";
    background-color: var(--green-text);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-bg);
}

.contact-button{
    background-color: var(--green-text);
    padding: 10px 25px;
    font-weight: var(--bold);
    cursor: pointer;
    border-radius: var(--border-radius-contact);
    display: block;
    max-width: max-content;
}

.success-message,
.error-message {
    display: none;
    padding-left: 12px;
    padding: 15px;
    border-radius: var(--border-radius-contact);
    border: 1px solid #A3CFBB;
    letter-spacing: .3px;
    word-spacing: -2px;
    font-size: 14px;
  }
  .success-message{
    background-color: #D1E7DD; 
    color: #0A3622;
  }
  .error-message{
    background-color: #F8D7DA; 
    color: #58151C;
  }
  .success,
  .error{
    font-weight: 900;
    margin-right: 7px;
    letter-spacing: -0.5px;
  }
    .closebtn {
    margin-left: 15px;
    color: var(--dark-bg);
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  .closebtn:hover {
    color: rgb(137, 137, 137);
  }

 

/*------------------------------------------------media-query-------------------------------------------------*/
@media (max-width: 900px)
{
    .form-container{
        width: 90%;
    }
    
}
@media (max-width: 479px)
{
    .contact-form{
        font-size: 11px;
        margin: .8rem;
        display: flex;
        flex-direction: column;
    }
    .agree-newsletter label,
    .agree-terms label{
        gap: 0px;
    }
    .ContactUs-heading h1{
        font-size: 40px;
    }
    .ContactUs-heading h4{
        font-size: 14px;
    }
    .contact-button{
        padding: 10px 40%;
    }
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .success-message,
    .error-message {
        padding: 15px;
        font-size: 11px;
      }
} 