@media screen and (max-width: 1400px) {
    .container {
        width: calc(100% - 50px);
    }
}

@media screen and (max-width: 1024px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .testimonial-section .container {
        flex-direction: column;
        gap: 30px;
    }

    .call-to-action-section .container {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .services-section .services,
    .team-section .team {
        grid-template-columns: 1fr 1fr;
    }

    .footer-inner {
        grid-template-columns: repeat(3, 1fr);
    }

    .navbar-container {
        padding: 14px 0;
    }

    .hero-section .container {
        min-height: 65vh;
    }

}

@media screen and (max-width: 900px) {


    .services-section .services,
    .team-section .team {
        grid-template-columns: 1fr;
    }

    .footer-inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-bottom {
        padding-top: 30px;
    }

    .footer-bottom-inner,
    .footer-logo {
        flex-direction: column;
        gap: 25px;
    }

    .footer-logo {
        gap: 10px;
    }
/* ---------------------------------------contact-form-query-------------------------- */
    .form-container{
        width: 90%;
    }
}

@media screen and (max-width: 425px) {
    .hero-section .slogan {
        font-size: 40px;
    }

    .hero-section .tagline-heading,
    .hero-section .services-heading {
        font-size: 32px;
    }

    .footer-inner {
        grid-template-columns: repeat(1, 1fr);
    }

    .section-heading {
        font-size: 26px;
    }

    .sub-heading {
        font-size: 18px;
    }

    .services-section .service img {
        width: 40px;
    }

    .call-to-action-section .details h2,
    .testimonial-section .details h2 {
        font-size: 32px;
        line-height: 35px;
    }

    .footer-logo p {
        text-align: center;
    }

    .testimonial-section .review-box .review p {
        font-size: 14px;
    }
/* -------------------contact-from-media-query------------------------------------- */
    .contact-form{
        font-size: 11px;
        margin: .8rem;
        display: flex;
        flex-direction: column;
    }
    .agree-newsletter label,
    .agree-terms label{
        gap: 0px;
    }
    .ContactUs-heading h1{
        font-size: 40px;
    }
    .ContactUs-heading h4{
        font-size: 14px;
    }
    .contact-button{
        padding: 10px 40%;
    }
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .success-message {
        padding: 15px;
        font-size: 11px;
    }
}
