:root {
    --primary-color: #0e0e0e;
    --secondary-color: #1c1c1c;
    --text-color: #fff;
    --secondary-text: #A5A5A5;
    --green-text: #95DF00;
    --dark-green-text: #86c803;
    --border-radius: 12px;
    --radius-full: 30px;
    --border-color: #e4e5e750;
}

@font-face {
    font-family: neue-montreal;
    src: url(../assets/fonts/NeueMontreal-Regular.otf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: neue-montreal;
    color: var(--text-color);
    letter-spacing: 1px;
}

.display-none {
    display: none;
}

h1,
h2,
p {
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a:hover {
    color: var(--green-text) !important;
    transition: all 0.3s;
}

.text-secondary {
    color: var(--green-text);
}

section {
    width: 100%;
    margin-block: 50px;
}

.btn {
    background-color: var(--green-text);
    text-decoration: none;
    padding: 10px 30px;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
    border-radius: var(--radius-full);
    display: block;
    max-width: max-content;
    border: none;
}

.btn:hover {
    color: var(--primary-color) !important;
    background-color: var(--dark-green-text);
}

.container {
    max-width: 1400px;
    margin-inline: auto;
}

.mobile {
    display: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-container {
    padding: 18px 0;
    background-color: var(--secondary-color);
}

.navbar-inner {
    justify-content: space-between;
}


.navbar-inner .desktop .menus {
    gap: 50px;
    color: var(--text-color);
}

.navbar-inner .right-content.desktop {
    gap: 50px;
    color: var(--primary-color);
}

.navbar-inner .right-content svg,
.navbar-inner .right-content path {
    fill: var(--text-color);
}

.navbar-inner .right-content svg {
    width: 35px;
    height: 35px;
}

.navbar-container .sidebar-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 90%;
    z-index: 99;
    background-color: #ffffff24;
    transition: width 0.3s ease, right 0.6s ease;
}

.navbar-container .sidebar-inner {
    width: 80%;
    height: 100%;
    background-color: var(--primary-color);
}

.navbar-container .menu-contents {
    padding: 20px;
}

.navbar-container .menu-header {
    padding: 10px 20px;
    border-bottom: 1px solid var(--border-color);
    justify-content: space-between;
}

.navbar-container .menu-contents li {
    margin: 30px 0;
    font-size: 18px;
    font-weight: 400;
}

.navbar-container .menu-contents li:first-child {
    margin-top: 20px;
}

.navbar-container .menu-header .menu-title {
    font-size: 18px;
    text-transform: uppercase;
}

body:has(.sidebar-menu.opened) {
    overflow: hidden;
}

.navbar-container .sidebar-menu.opened {
    width: 100%;
    right: 0;
    transition: all 0.6s ease;
}

.navbar-container .sidebar-menu.opened .sidebar-inner {
    width: 90%;
    transition: width 0.3s ease;
}

.navbar-container .menus a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar-container .logo img {
    height: 40px;
}

.hero-section .container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.hero-section .tagline-heading {
    font-size: 54px;
    font-weight: 500;
    text-align: center;
}

.hero-section .slogan {
    font-size: 74px;
    font-weight: 700;
    text-align: center;
}

.hero-section .services-heading {
    font-size: 54px;
    font-weight: 500;
    text-align: center;
}

.trusted-companies .section-heading {
    text-align: center;
}

.trusted-companies .outer-container {
    padding-block: 20px;
    background-color: var(--secondary-color);
}


.trusted-companies .trusted-by {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.trusted-companies .container .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: hidden;
    overflow-x: auto;
}

.services-section .services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.services-section .services .service {
    background-color: #1c1c1c;
    border-radius: var(--border-radius);
    border: none;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.services-section .service img {
    width: 50px;
}

.section-heading {
    font-size: 36px;
    font-weight: 500;
    margin-block: 20px;
    text-align: center;
}

.sub-heading {
    font-size: 25px;
    font-weight: 400;
}

.service-description {
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-text);
}


.call-to-action-section .container {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    padding: 50px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-to-action-section .details h2,
.testimonial-section .details h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.call-to-action-section .details p {
    font-size: 18px;
    font-weight: 400;
}

.call-to-action-section .button .call-to-action-btn {
    background-color: var(--green-text);
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
    border-radius: var(--radius-full);
}

.testimonial-section .container {
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    padding: 50px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.testimonial-section .container .details,
.testimonial-section .container .review-box {
    width: 100%;
}

.testimonial-section .details p {
    font-size: 20px;
    font-weight: 400;
}

.testimonial-section .review-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.testimonial-section .review-box .quote svg {
    width: 60px;
    height: 60px;
    fill: white;
}

.testimonial-section .review-box .stars svg {
    width: 15px;
    fill: var(--green-text);
}

.testimonial-section .review-box .review p {
    font-size: 16px;
    font-weight: 400;
}

.testimonial-section .review-box .author p {
    font-size: 18px;
    font-weight: 600;
}

.testimonial-section .navigation-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.testimonial-section .navigation-button div {
    width: 30px;
    height: 30px;
    border: solid 1px var(--green-text);
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-section .navigation-button svg {
    fill: #D5E0D5;
}

.testimonial-section .frame{
    overflow: hidden;
}
.testimonial-section .slider{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.testimonial-section .slide{
    min-width: 100%;
}

.footer-section {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding-top: 60px;
    padding-bottom: 30px;
}

.footer-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: space-between;
    padding-bottom: 30px;
}

.footer-section h3 {
    font-weight: 600;
    text-transform: capitalize;
}

.footer-section ul {
    padding: 0;
    list-style-type: none;
}

.footer-section li {
    margin-bottom: 10px;
}

.footer-section a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 300;
}

.footer-bottom {
    padding-block: 20px;
    border-top: 1px solid var(--border-color);
}

.footer-bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-socials {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.footer-logo p {
    font-weight: 300;
}

.footer-logo img {
    height: 30px;
}



.footer-section .footer-icon svg {
    fill: var(--secondary-text);
    width: 25px;
    height: 25px;
}

.footer-section .footer-icon svg:hover {
    fill: var(--green-text);
    transition: fill 0.3s;
}













