@media screen and (min-width:1024) {
  .wrapper-inner-image {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    gap: 50px;
  }

  .wrapper-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-section-image {
    display: flex;
    justify-content: center;
  }

  .row-content h2 {
    font-size: 23px;
  }

  .row-content p {
    font-size: 13px;
    padding-inline: 12px;
    line-height: 24px;
  }

  .sub-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .container {
    padding-inline: 10px;
  }

  .section-heading .heading {
    font-size: 20px;
  }

  .call-to-action-section a {
    padding: 10px;
    margin-bottom: 10px;
  }

  .call-to-action-section p {
    /* text-align: left; */
    font-size: 16px;
  }

  /* .hero-section-image {
    display: none !important;
  } */

  .section-heading h2 {
    font-size: 25px;
  }

  .section-heading {
    margin-bottom: 0;
  }

  /* .wrapper-image {
    display: none;
  } */

  .services-section .services .service {
    padding: 0;
  }

  .section-heading .heading {
    font-size: 25px;
  }

  .call-to-action-section {
    margin-block: 20px;
    padding: 0;
    padding-block: 20px;
  }

  .footer-socials {
    margin-top: 20px;
  }

  .footer-inner {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .award-wrap {
    max-width: 50%;
  }

  .form-sections {
    padding: 0;
  }

  .hero-small-circle {
    display: none;
  }

  .services-section .services {
    grid-template-columns: 1fr 1fr;
  }

  .hero-section {
    flex-direction: column;
  }

  .hero-section-image {
    display: flex;
    justify-content: center;
  }

  .wrapper-image {
    height: 286px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .wrapper-inner-image {
    display: flex;
    justify-content: center;
  }

  .section-logos>.margin-top {
    margin-top: 4rem;
  }
  
}

@media screen and (max-width:480px) {
  .hero-section-title .hero-heading {
    font-size: 20px;
  }

  .hero-section-title .subheading {
    font-size: 20px;
  }

  .section-heading h2 {
    font-size: 20px;
  }

  .section-service-details .sub-service .heading {
    font-size: 20px;
  }

  .section-heading .heading {
    font-size: 20px;
  }

  .section-service-details .detail .heading {
    font-size: 20px;
  }

  .benefit h2 {
    margin-bottom: 0;
  }

  .footer-logo {
    display: block;
  }

  .awards-content {
    flex-direction: column;
    max-width: 100%;
  }

  .services-section .services {
    grid-template-columns: 1fr;
  }

  .award-wrap {
    max-width: 100%;
  }

  .services-section .services {
    grid-template-columns: 1fr;
  }
}


@media screen and (max-width:367px) {
  .services-section .services .service {
    max-width: 300px;
    padding-inline:10px ;
  }
}

/* line 262 style.css */
.wrapper-inner-image {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

/* line 270 style.css */
.wrapper-inner-image img {
  width: 100%;
  /* max-width: 300px; */
}