@media screen and (min-width:1024) {
  .wrapper-inner-image {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    gap: 50px;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }

  .wrapper-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-section-image {
    display: flex;
    justify-content: center;
  }

  .row-content h2 {
    font-size: 23px;
  }

  .row-content p {
    font-size: 13px;
    padding-inline: 12px;
    line-height: 24px;
  }

  .sub-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .container {
    padding-inline: 10px;
  }

  .section-heading .heading,
  .section-service-details .detail .heading {
    font-size: 20px;
  }

  .call-to-action-section a {
    padding: 10px;
    margin-bottom: 10px;
  }

  .call-to-action-section p {
    /* text-align: left; */
    font-size: 16px;
  }

  /* .hero-section-image {
    display: none !important;
  } */

  .section-heading h2 {
    font-size: 25px;
  }

  .section-heading {
    margin-bottom: 0;
  }

  /* .wrapper-image {
    display: none;
  } */

  .services-section .services .service {
    padding: 0;
    width: 300px;
  }

  .section-heading .heading {
    font-size: 25px;
  }

  .call-to-action-section {
    margin-block: 20px;
    padding: 0;
    padding-block: 20px;
  }

  .footer-socials {
    margin-top: 20px;
  }

  .footer-inner {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
  }

  .award-wrap {
    max-width: 50%;
  }

  .form-sections {
    padding: 0;
  }

  .hero-small-circle {
    display: none;
  }

  .services-section .services {
    flex-wrap: wrap;
  }

  .hero-section-image {
    display: flex;
    justify-content: center;
  }

  .wrapper-image {
    height: 286px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .wrapper-inner-image {
    display: flex;
    justify-content: center;
  }

  .section-logos>.margin-top {
    margin-top: 4rem;
  }

  .wrapper-image-hero {
    max-width: 100%;
  }

  .hero-section {
    padding-block: 0;
  }

  section {
    margin-block: 0;
  }
  .award-container .container {
    padding: 0;
  }
}

@media screen and (max-width:480px) {
  .hero-section-title .hero-heading {
    font-size: 20px;
  }

  .hero-section-title .subheading {
    font-size: 20px;
  }

  .section-heading h2 {
    font-size: 20px;
  }

  .section-service-details .sub-service .heading {
    font-size: 20px;
  }

  .section-heading .heading {
    font-size: 20px;
  }

  .section-service-details .detail .heading {
    font-size: 20px;
  }

  .benefit h2 {
    margin-bottom: 0;
  }

  .footer-logo {
    display: block;
  }

  .awards-content {
    flex-direction: column;
    max-width: 100%;
    flex-wrap: nowrap;
  }

  .services-section .services {
    grid-template-columns: 1fr;
  }

  .award-wrap {
    max-width: 100%;
  }

  .services-section .services {
    grid-template-columns: 1fr;
  }

  .container {
    padding: 0;
  }

  .section-heading .heading {
    font-size: 20px;
  }

  .sub-heading {
    margin-top: 15px;
    font-size: 20px;
    margin-bottom: 0;
  }
  .contact-info-content a {
    margin-bottom: 0;
  }
  .contact-award-image {
    margin-bottom: 10px;
  }
}


@media screen and (max-width:367px) {
  .services-section .services .service {
    max-width: 300px;
    padding-inline: 10px;
  }

}

/* line 262 style.css */
/* .wrapper-inner-image {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
} */

/* line 270 style.css */
.wrapper-inner-image img {
  width: 100%;
  /* max-width: 300px; */
  width: 40%;
}

@media screen and (max-width:1024px) {
  .section-service-details {
    display: block;
  }

  .section-service-details .detail {
    width: 100%;
    height: auto;
  }

  .section-service-details>div {
    width: 100%;
  }

  .hero-section-title .hero-paragraph {
    font-size: 16px;
    margin: 0;
    line-height: 24px;
  }

  .header-logo {
    padding-top: 10px;
  }
}


@media screen and (max-width:667px) {
  .services-section .services .service {
    width: 500px;
  }

  .form-sections {
    padding: 0;
  }

  .details-section,
  .form-section {
    padding: 0;
  }

  .container {
    padding: 15px;
  }

  .section-contact-us {
    margin-top: 0;
  }
  .contact-images {
    flex-direction: column;
  }

  .contact-award-image {
    justify-content: start;
  }
}
@media (min-width: 1400px) and (max-width: 1599px) {
  section .container {
      padding: 70px 0;
  }
  .inner_container{
      max-width: 1240px;
  }
  .content_1 .h2 h2{
      font-size: 38px;
      line-height: 53px;
  }
  .content_1 p{
      font-size: 15px;
      line-height: 30px;
      margin-bottom: 20px;
  }
  .content_1 h5{
      font-size: 20px;
      font-weight: 600;
      line-height: 33px;
      margin-bottom: 20px;
  }
  .contact_info h5{
      font-size: 20px;
      font-weight: 600;
      line-height: 33px;
      margin-bottom: 20px;
  }
  form h3{
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 20px;
  }
  .content_2_inner{
      max-width: 70%;
  }
  .privacy{
      margin-bottom: 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  section .container {
      padding: 50px 0;
  }
  .inner_container{
      max-width: 1130px;
  }
  .content_1 .h2 h2{
      font-size: 33px;
      line-height: 43px;
  }
  .content_1 p{
      font-size: 14px;
      line-height: 28px;
  }
  .content_1 h5{
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 20px;
  }
  .margin h6{
      font-size: 15px;
      line-height: 25px;
  }
  .contact_info h5{
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 20px;
  }
  .content_2_inner{
      background: #fff;
      box-shadow: 0 0 50px rgba(40, 36, 54, .05);
      max-width: 70%;
      padding: 40px 30px;
      margin-left: auto;
  }
  form h3{
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 20px;
  }
  .contact_info .flexx div a{
      font-size: 14px;
      line-height: 24px;
  }
  .form-group input{
      font-size: 14px;
      height: 45px;
  }
  .form-group textarea{
      font-size: 14px;
  }
  .privacy{
      font-size: 12px;
      line-height: 24px;
      margin-top: 15px;
  }
  form .btn_submit{
      font-size: 15px;
      height: 40px;
      margin: 30px 0;
      width: 50%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  section .container {
      padding: 40px 0;
  }
  .inner_container{
      max-width: 900px;
  }
  .content_1 .h2 h2{
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 38px;
  }
  .content_1 p{
      font-size: 13px;
      line-height: 26px;
  }
  .content_1 h5{
      letter-spacing: 0;
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 30px;
  }
  .margin h6{
      font-size: 13px;
      line-height: 23px;
  }
  .contact_info h5{
      letter-spacing: 0;
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 30px;
  }
  form h3{
      font-size: 18px;
      letter-spacing: 0;
      line-height: 28px;
      margin-bottom: 20px;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .content_2_inner{
      margin-left: auto;
      background: #fff;
      box-shadow: 0 0 50px rgba(40, 36, 54, .05);
      max-width: 100% !important;
      padding: 35px 30px;
  }
  .contact_info .flexx div a{
      font-size: 13px;
      line-height: 23px;
  }
  .form-group input{
      font-size: 12px;
      height: 40px;
  }
  .form-group textarea{
      font-size: 12px;
  }
  .privacy{
      font-size: 12px;
      line-height: 24px;
      margin-top: 15px;
  }
  form .btn_submit{
      font-size: 14px;
      height: 40px;
      margin: 20px auto 0;
      width: 50%;
  }
}
@media (min-width: 992px) {
  .content_2 {
      margin-left: 8.33333333%;
  }
}
@media (min-width: 667px) and (max-width: 899px) {
  .content_2_inner {
      background: #fff;
      box-shadow: 0 0 50px rgba(40, 36, 54, .05);
      max-width: 100%;
      padding: 35px 30px;
  }
  .contact_info .flexx div a{
      font-size: 11px;
      line-height: 21px;
  }
  .form-group input{
      font-size: 12px;
      height: 40px;
  }
  .form-group textarea{
      font-size: 12px;
  }
  .privacy{
      font-size: 11px;
      line-height: 22px;
      margin-top: 15px;
  }
  form .btn_submit{
      font-size: 14px;
      height: 40px;
      margin: 20px auto 0;
      width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  section .container {
      padding: 40px 0;
  }
  .inner_container{
      max-width: 860px;
  }
  .content_1 .h2 h2{
      font-size: 23px;
      line-height: 33px;
      letter-spacing: 1px;
      margin-bottom: 15px;
  }
  .content_1 p{
      font-size: 12px;
      line-height: 24px;
      margin-bottom: 15px;
  }
  .content_1 h5{
      letter-spacing: 0;
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 30px;
  }
  .margin h6{
      font-size: 11px;
      line-height: 21px;
  }
  .contact_info h5{
      letter-spacing: 0;
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 30px;
  }
  form h3{
      font-size: 16px;
      letter-spacing: 0;
      line-height: 26px;
      margin-bottom: 15px;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  section .container {
      padding: 40px 0;
  }
  .inner_container{
      max-width: 700px;
  }
  .content_1 .h2 h2{
      font-size: 23px;
      line-height: 33px;
      letter-spacing: 1px;
      margin-bottom: 15px;
  }
  .content_1 p{
      font-size: 12px;
      line-height: 24px;
      margin-bottom: 15px;
  }
  .content_1 h5{
      letter-spacing: 0;
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 30px;
  }
  .margin h6{
      font-size: 11px;
      line-height: 21px;
  }
  .contact_info h5{
      letter-spacing: 0;
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 30px;
  }
  form h3{
      font-size: 16px;
      letter-spacing: 0;
      line-height: 26px;
      margin-bottom: 15px;
  }
  .content_2{
      width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 666px) {
  section .container {
      padding: 25px 0;
  }
  .inner_container{
      max-width: 100%;
  }
  .content_1 .h2 h2{
      font-size: 21px;
      line-height: 31px;
      letter-spacing: 0;
      margin-bottom: 20px;
  }
  .content_1 p{
      font-size: 13px;
      line-height: 26px;
      margin-bottom: 20px;
  }
  .content_1 h5{
      letter-spacing: 0;
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 30px;
  }
  .margin h6{
      font-size: 14px;
      line-height: 24px;
  }
  .contact_info h5{
      letter-spacing: 0;
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 30px;
  }
  .content_2_inner{
      margin-top: 20px;
      padding: 30px 20px;
      max-width: 100%;
  }
  form h3{
      font-size: 15px;
      letter-spacing: 0;
      line-height: 25px;
      margin-bottom: 15px;
  }
  .contact_info .flexx div a{
      font-size: 13px;
      line-height: 23px;
  }
  .form-group input{
      font-size: 12px;
      height: 40px;
  }
  .form-group textarea{
      font-size: 12px;
  }
  .privacy{
      font-size: 11px;
      line-height: 21px;
      margin-top: 15px;
  }
  form .btn_submit{
      display: block;
      font-size: 16px;
      height: 45px;
      margin: 30px auto 0;
      width: 60%;
  }
  .block_award{
      display: block ;
  }
  .block_award .margin-left{
      margin-left: 0px;
  }
  .content_2{
      width: 100%;
  }
}
@media (min-width: 768px) {
  .content .content_1, .content_2 {
      flex: 0 0 auto;
      width: 40% !important;
  }
}
@media (min-width: 992px) {
  .content .content_1, .content_2 {
      flex: 0 0 auto;
      width: 40% !important;
  }
 
}
@media (min-width: 1200px) {
  .content .content_1, .content_2 {
      flex: 0 0 auto;
      width: 41.66666667% !important;
  }
}

@media (min-width: 1400px) {
  .content .content_1, .content_2 {
      flex: 0 0 auto;
      width: 41.66666667% !important;
  }
}

